<div class="bg-dark p-3 d-inline-block rounded">
 <div class="digital-watch">
	<svg width="0" height="0" viewBox="0 0 0 0">
		<defs>
			<g id="unit-h">
				<path d="M0 20 L20 40 L180 40 L200 20 L180 0 L20 0 Z"></path>
			</g>
			<g id="unit-v">
				<path d="M20 0 L0 20 L0 180 L20 200 L40 180 L40 20 Z"></path>
			</g>
		</defs>
	</svg>
	<div class="hour" [ngClass]="{'active': showHourDecorations}">
		<svg id="hour-1" [ngClass]="'num-' + firstHourDigit" width="130" height="240" viewBox="0 0 260 480">
			<use xlink:href="#unit-h" class="segment a" x="30" y="0"></use>
			<use xlink:href="#unit-v" class="segment b" x="220" y="30"></use>
			<use xlink:href="#unit-v" class="segment c" x="220" y="250"></use>
			<use xlink:href="#unit-h" class="segment d" x="30" y="440"></use>
			<use xlink:href="#unit-v" class="segment e" x="0" y="250"></use>
			<use xlink:href="#unit-v" class="segment f" x="0" y="30"></use>
			<use xlink:href="#unit-h" class="segment g" x="30" y="220"></use>
		</svg>
		<svg id="hour-2" [ngClass]="'num-' + secondHourDigit" width="130" height="240" viewBox="0 0 260 480">
			<use xlink:href="#unit-h" class="segment a" x="30" y="0"></use>
			<use xlink:href="#unit-v" class="segment b" x="220" y="30"></use>
			<use xlink:href="#unit-v" class="segment c" x="220" y="250"></use>
			<use xlink:href="#unit-h" class="segment d" x="30" y="440"></use>
			<use xlink:href="#unit-v" class="segment e" x="0" y="250"></use>
			<use xlink:href="#unit-v" class="segment f" x="0" y="30"></use>
			<use xlink:href="#unit-h" class="segment g" x="30" y="220"></use>
		</svg>
    <div class="label">HOUR</div>
	</div>
	<div class="minute">
		<svg id="minute-1" [ngClass]="'num-' + firstMinuteDigit" width="130" height="240" viewBox="0 0 260 480">
			<use xlink:href="#unit-h" class="segment a" x="30" y="0"></use>
			<use xlink:href="#unit-v" class="segment b" x="220" y="30"></use>
			<use xlink:href="#unit-v" class="segment c" x="220" y="250"></use>
			<use xlink:href="#unit-h" class="segment d" x="30" y="440"></use>
			<use xlink:href="#unit-v" class="segment e" x="0" y="250"></use>
			<use xlink:href="#unit-v" class="segment f" x="0" y="30"></use>
			<use xlink:href="#unit-h" class="segment g" x="30" y="220"></use>
		</svg>
		<svg id="minute-2" [ngClass]="'num-' + secondMinuteDigit" width="130" height="240" viewBox="0 0 260 480">
			<use xlink:href="#unit-h" class="segment a" x="30" y="0"></use>
			<use xlink:href="#unit-v" class="segment b" x="220" y="30"></use>
			<use xlink:href="#unit-v" class="segment c" x="220" y="250"></use>
			<use xlink:href="#unit-h" class="segment d" x="30" y="440"></use>
			<use xlink:href="#unit-v" class="segment e" x="0" y="250"></use>
			<use xlink:href="#unit-v" class="segment f" x="0" y="30"></use>
			<use xlink:href="#unit-h" class="segment g" x="30" y="220"></use>
		</svg>
    <div class="label">MINUTE</div>
	</div>
	<div class="second">
		<svg id="second-1" [ngClass]="'num-' + firstSecondDigit" width="130" height="240" viewBox="0 0 260 480">
			<use xlink:href="#unit-h" class="segment a" x="30" y="0"></use>
			<use xlink:href="#unit-v" class="segment b" x="220" y="30"></use>
			<use xlink:href="#unit-v" class="segment c" x="220" y="250"></use>
			<use xlink:href="#unit-h" class="segment d" x="30" y="440"></use>
			<use xlink:href="#unit-v" class="segment e" x="0" y="250"></use>
			<use xlink:href="#unit-v" class="segment f" x="0" y="30"></use>
			<use xlink:href="#unit-h" class="segment g" x="30" y="220"></use>
		</svg>
		<svg id="second-2" [ngClass]="'num-' + secondSecondDigit" width="130" height="240" viewBox="0 0 260 480">
			<use xlink:href="#unit-h" class="segment a" x="30" y="0"></use>
			<use xlink:href="#unit-v" class="segment b" x="220" y="30"></use>
			<use xlink:href="#unit-v" class="segment c" x="220" y="250"></use>
			<use xlink:href="#unit-h" class="segment d" x="30" y="440"></use>
			<use xlink:href="#unit-v" class="segment e" x="0" y="250"></use>
			<use xlink:href="#unit-v" class="segment f" x="0" y="30"></use>
			<use xlink:href="#unit-h" class="segment g" x="30" y="220"></use>
		</svg>
    <div class="label">SECOND</div>
	</div>
  <div *ngIf="showPeriodOfday" class="period-of-day">
    <span>{{ periodOfDay }}</span>
  </div>
 </div>
</div>