.digital-clock .hour.active::before,
.digital-clock .hour.active::after,
.digital-clock .minute::before,
.digital-clock .minute::after {
  content: '';
  position: absolute;
  right: -40px;
  width: 20px;
  height: 20px;
  background-color: #0db829;
}

.digital-clock .hour::before,
.digital-clock .minute::before {
  top: 80px;
}

.digital-clock .hour::after,
.digital-clock .minute::after {
  top: 180px;
}

.period-of-day {
  font-size: 50px;
  color: #0db829;
  font-weight: bold;
}

.digital-clock .label {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.digital-clock .label.active {
  color: #0db829;
}