<div class="bg-dark p-3 d-inline-block rounded">
  <div class="digital-clock">
    <svg width="0" height="0" viewBox="0 0 0 0">
      <defs>
        <g id="unit-h">
          <path d="M0 20 L20 40 L180 40 L200 20 L180 0 L20 0 Z"></path>
        </g>
        <g id="unit-v">
          <path d="M20 0 L0 20 L0 180 L20 200 L40 180 L40 20 Z"></path>
        </g>
      </defs>
    </svg>

    <div class="hour d-inline-block m-4 position-relative" [ngClass]="{'active': showHourDecorations}">
      <app-digital-segment [digit]="firstHourDigit"></app-digital-segment>
      <app-digital-segment [digit]="secondHourDigit"></app-digital-segment>
      <div class="label" [ngClass]="{'active': showHourDecorations}">HOUR</div>
    </div>

    <div class="minute d-inline-block m-4 position-relative">
      <app-digital-segment [digit]="firstMinuteDigit"></app-digital-segment>
      <app-digital-segment [digit]="secondMinuteDigit"></app-digital-segment>
      <div class="label active">MINUTE</div>
    </div>

    <div class="second d-inline-block m-4 position-relative">
      <app-digital-segment [digit]="firstSecondDigit"></app-digital-segment>
      <app-digital-segment [digit]="secondSecondDigit"></app-digital-segment>
      <div class="label active">SECOND</div>
    </div>

    <div *ngIf="showPeriodOfDay" class="period-of-day">
      <span>{{ periodOfDay }}</span>
    </div>
  </div>
</div>